@font-face {
    font-family: 'steamy';
    src: url('steamy.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#menu {
    position: relative;
    width: 1400px;
    height: 700px;
    margin: 10px auto;
    background-color: grey;
}

#content {
    position: relative;
    display: none;
    width: 1400px;
    height: 700px;
    margin: 10px auto;
}
    
#content #zoneJeu {
    border: solid 1px #000;
    width: 1400px;
    height: 700px;
    position: absolute;
    top: 0; 
    left: 0;
    background-image: url("../images/bateau.png");
}

#content #score {
    border: solid 1px #000;
    width: 200px;
    height: 55px;
    position: absolute;
    top: -50px;
    left: 1200px;
    text-align: right;
    font-family:steamy, sans-serif;
    font-size:50px;
}
