#content {
    position: relative;
    width: 1400px;
    height: 700px;
    margin: 10px auto;
}
    
#content #zoneJeu {
    border: solid 1px #000;
    width: 1400px;
    height: 700px;
    position: absolute;
    top: 0; 
    left: 0;
    background-image: url("../images/bateau.png");
}


